body { 
    margin:0;
    padding:0;
    font-family:MS Sans Serif, sans-serif; 
	background: url(r.bmpq.png) no-repeat;
	background-size:cover;
}

a { 
    color:#0000ff;
    text-decoration:none;
	font-family:Monotype Corsiva, cursive; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
	font-family:Monotype Corsiva, cursive;
	color:#0000ff;
}


h2 {
    font-weight:normal;
    margin:30px 0 0;
	font-family:Monotype Corsiva, cursive;
	color:#ffffff;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:420px;
    padding:10px;
    background:#91c2f5;
	background: url(Безымянный1.png) no-repeat;
	background-size:cover;
    height:350px;
	color:#ffffff
	
}

p.date { 
    color:#ffffff;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
	
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}